[submodule "yubikey-personalization"]
	path = yubikey-personalization
	url = https://github.com/Yubico/yubikey-personalization.git
[submodule "OneTime/SGHotKeysLib"]
	path = OneTime/SGHotKeysLib
	url = https://github.com/secondgear/SGHotKeysLib.git
[submodule "OneTime/LaunchAtLoginController"]
	path = OneTime/LaunchAtLoginController
	url = https://github.com/Mozketo/LaunchAtLoginController.git
[submodule "yubico-c"]
	path = yubico-c
	url = git://github.com/Yubico/yubico-c.git
