[submodule "yubikey-personalization"]
	path = yubikey-personalization
	url = https://github.com/Yubico/yubikey-personalization.git
[submodule "SGHotKeysLib"]
	path = SGHotKeysLib
	url = https://github.com/secondgear/SGHotKeysLib.git
